.contact-us {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:#000000;
    background-color: #f9f9f9;
    /* margin-bottom: 2rem; */
  }
  
  .contact-us h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-us form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-us label {
    margin-bottom: 10px;
  }
  
  .contact-us input,
  .contact-us textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-us button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-us button:hover {
    background-color: #45a049;
  }
  