/* Footer.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    color:#282c34;
    /* color:#bed35f; */
  }
  
  .footer-container {
    /* background: #282c34; */
    /* color: #ffffff; */
    color: #282c34;
    padding: 40px 20px;
    text-align: center;
    border-top: 5px solid #61dafb;
  }
  
  .footer-title {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .footer-description {
    font-size: 1.2em;
    margin-bottom: 20px;
    color:#bed35f;

    /* color: #b0b0b0; */
  }
  
  .footer-socials {
    margin-bottom: 20px;
  }
  
  .social-link {
    margin: 0 10px;
    /* color: #61dafb; */
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .social-link:hover {
    text-decoration: none;
    /* align-items: center; */
    justify-items: center;
    color:#00ff22;
    /* text-decoration: underline; */
  }
  
  .footer-contact p {
    margin: 5px 0;
    font-size: 1em;
  }
  
  .footer-contact a {
    color:#bed35f;
    /* color: #0afc4a; */

    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
  
  /* .footer-contact a:hover {
     text-decoration: underline; 
  } */
  
  .footer-credit {
    margin-top: 20px;
    font-size: 0.9em;
    color: #00ff22;
  }
  